/* Footer */

.benefits {
    margin: 10px 0 50px;
    font-size: 1.4rem;
    line-height: 1.8;
    color: $dark-red;
    > li {
        padding: 35px 0 0;
        &:before {
            content: none;
        }
    }
    h3 {
        padding: 0 0 0 70px;
        margin: 0 0 20px;
        color: inherit;
    }
    .title {
        position: relative;
    }
    img {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
    }
}

.footer {
    padding: 40px 0;
    text-align: center;
    color: #fff;
    @include background-gradient(26deg, "orange");
}

.logo-footer {
    width: 175px;
    margin: 0 auto 50px;
    img:first-child {
        display: block;
        margin: 0 auto 25px;
    }
}

.menu-footer {
    margin: 0 0 60px;
    font-size: 1.4rem;
    > li {
        padding: 0;
        margin: 0 0 30px;
        &:before {
            content: none;
        }
    }
    a {
        border-bottom: 1px solid;
    }
}

.social {
    display: flex;
    margin: 0;
    font-size: 1.4rem;
    justify-content: center;
    > li {
        padding: 0;
        margin: 0 20px;
        overflow: hidden;
        &:before {
            content: none;
        }
    }
    span {
        position: absolute;
        top: -100em;
        left: -100em;
        margin: 0 0 0 10px;
        border-bottom: 1px solid;
    }
    .icon {
        width: 32px;
        height: 32px;
    }
}
.social-title {
    display: none;
    margin: 0 0 20px;
    font-size: 2.2rem;
}

@media (min-width: $desktop-small) {
    .benefits {
        display: flex;
        margin-top: 70px;
        > li {
            padding: 0 $gutter * 2;
        }
        h3 {
            padding: 0 0 0 55px;
        }
    }

    .footer {
        padding: 80px 10% 80px 0;
        text-align: left;
        > .container {
            display: flex;
            justify-content: space-between;
        }
    }

    .logo-footer {
        width: 310px;
        margin: 0;
        text-align: center;
    }

    .social {
        display: block;
        > li {
            margin: 0 0 20px;
        }
        span {
            position: static;
        }
    }
    .social-title {
        display: block;
    }
}

@media (min-width: $desktop) {
    .benefits {
        h3,
        p {
            padding: 0 0 0 80px;
        }
    }
}
