.gform_page_fields {
    padding: 30px 0 0;
    position: relative;
    &:before,
    &:after {
        content: "";
        position: absolute;
        width: 405px;
        height: 415px;
        background: url(../../img/bgform.svg);
        background-size: cover;
        transform-origin: 50% 50%;
    }
    &:before {
        top: -70px;
        right: 30px;
        transform: rotate(-30deg) scale(0.8);
    }
    &:after {
        top: 300px;
        left: -100px;
        transform: scale(0.8);
    }
}

.sidebar {
    position: relative;
    padding: $line-height $gutter * 2;
    margin: 0 $gutter * -2;
    background: $grey-light;
    .gform_fields {
        line-height: 1.3;
    }
    ul {
        margin: 0;
    }
    h2 {
        margin: 0 0 $line-height;
        font-size: 2.6rem;
        color: $primary-color;
    }
    h3 {
        margin: 0 0 $line-height * 0.5;
        line-height: 1.2;
        color: $black;
    }
    p {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 1.3;
    }
    .detail {
        display: block;
        margin: 20px 0 0;
    }
    .inactive-page {
        display: none;
    }
}

.btn-help {
    width: 38px;
    height: 38px;
    position: fixed;
    top: $line-height * 3;
    right: 25px;
    z-index: 3;
    border-radius: 50%;
    color: #fff;
    background: #312f2f url(../../img/question.svg) no-repeat 50% 50%;
    background-size: 6px 12px;
    opacity: 0;
    visibility: hidden;
    transition: comme-dans-du-beurre(
        (
            opacity: "#{$comme-dans-du-beurre-duration}"
        )
    );
    &.fixed-position {
        opacity: 1;
        visibility: visible;
    }
    &.on {
        background: #312f2f url(../../img/cross.svg) no-repeat 50% 50%;
        opacity: 1;
        visibility: visible;
    }
}

.gform_wrapper {
    ul {
        padding: 0;
        position: relative;
        z-index: 1;
        > li {
            padding: 0;
            &:before {
                content: none;
            }
        }
    }
    .field-help {
        padding: $line-height * 5 $gutter * 2 $line-height * 3;
        &:before {
            content: "";
        }
    }
}

.gform_fields {
    line-height: 3;
}

.gform_ajax_spinner {
    display: none !important;
}

.gform_page_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gform_next_button {
    margin-left: auto;
}
.gform_previous_button {
    color: $black;
    .icon {
        width: 1.4rem;
        height: 1.1rem;
        margin: 0 $gutter 0 0;
        transform: rotateZ(180deg);
    }
}
.gfield {
    &.gfield_error {
        .ginput_container {
            input,
            textarea,
            .gfield_select {
                border-color: $form-error-color;
            }
        }
    }
}
.gfield_error .validation_message,
.validation_error {
    margin-top: 0.5rem;
    color: $form-error-color;
    font-size: 1.4rem;
}
.ginput_container {
    position: relative;
}
.ginput_container_number {
    margin: 0 5px 0 10px;
}

.field-inline {
    display: inline-block;
    label + div {
        display: inline-block;
        margin: 0 10px;
    }
}

.field-price {
    &:after {
        content: " €";
        display: inline-block;
        margin: 0 10px 0 0;
    }
}

.gfield_radio,
.gfield_checkbox {
    display: flex;
    flex-wrap: wrap;
    margin: 50px -12px;
    font-size: 1.4rem;
    line-height: 1.7;
    text-align: center;
    > li {
        width: calc(50% - 24px);
        min-height: 95px;
        position: relative;
        margin: 0 12px 24px;
    }
    label {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 5px 10px;
        border: 1px solid $grey;
        border-radius: 4px;
        word-break: break-word;
        cursor: pointer;
    }
    input {
        position: absolute;
        top: 0;
        left: -99em;
        &:checked {
            + label {
                color: $primary-color;
                border-color: $primary-color;
            }
        }
    }
}

.form-progress {
    padding: 30px 0;
    text-align: center;
    background: $black-grey;
    color: #fff;
    h1 {
        margin: 0;
        font-family: "upgrade";
        font-size: 1.8rem;
    }
}

.field-help {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    font-size: 1.6rem;
    line-height: 1.35;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transition: smooth-operator(
        (
            opacity: "#{$smooth-operator-duration}",
            visibility: "0s #{$smooth-operator-duration}"
        )
    );
    &.on {
        opacity: 1;
        visibility: visible;
        transition: smooth-operator(
            (
                opacity: "#{$smooth-operator-duration}",
                visibility: "0s"
            )
        );
    }
    &:before {
        width: auto;
        height: 1px;
        position: absolute;
        top: #{$line-height * 4 - 8px};
        left: 80px;
        right: 80px;
        background: #e0e0e0;
    }
    &:after {
        content: "";
        width: 38px;
        height: 38px;
        position: absolute;
        top: $line-height * 3;
        left: $gutter * 2;
        border-radius: 50%;
        border: 1px solid #828282;
        background: url(../../img/question.svg) no-repeat 50% 50%;
        background-size: 6px 12px;
    }
}

.gfield_required {
    display: none;
}

.instruction {
    display: none;
    position: absolute;
    top: -30px;
    border: 1px solid;
    border-radius: 2px;
    line-height: 1.2;
    padding: 5px 8px;
    white-space: nowrap;
    font-size: 1.4rem;
    color: $primary-color;
    background: #fff;
}
input:focus {
    + .instruction {
        display: block;
    }
}

.hidden-title {
    > .gfield_label {
        display: none;
    }
}

.progressbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 21px;
    margin: 15px 0 0;
    color: $primary-color;
    font-size: 1.4rem;
    line-height: 21px;
    text-align: center;
    &.fixed-position {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding: 15px $gutter * 2;
        margin-top: 0;
        background-color: $black-grey;
        z-index: 2;
    }
    &::after {
        content: "";
        display: block;
        position: absolute;
        width: calc(100% - #{$gutter * 4});
        height: 2px;
        left: $gutter * 2;
        bottom: 50%;
        background: rgba(#fff, 0.4);
        transform: translateY(-50%);
    }
    > span {
        width: 35px;
        height: 100%;
        margin-right: auto;
        border-radius: 50px;
        background: #fff;
    }
}

@media (min-width: $phone-small) {
    .gfield_radio,
    .gfield_checkbox {
        label {
            padding: $gutter 20px;
            word-break: normal;
        }
    }
}

@media (min-width: $tablet) {
    .form-progress {
        padding-top: 10px;
        margin: 95px 0 0;
        text-align: left;
        h1 {
            display: inline-block;
            margin: 0 5px;
            &:before,
            &:after {
                content: " - ";
            }
        }
    }

    .gfield_radio {
        font-size: 1.8rem;
        > li {
            width: calc(33% - 24px);
            min-height: 165px;
        }
        label {
            padding: 30px 20px;
        }
        input {
            &:checked {
                + label {
                    font-weight: 400;
                    color: #fff;
                    background: linear-gradient(
                        61deg,
                        #f12525 32%,
                        #ff6308 68%
                    );
                }
            }
        }
    }

    .btn-help {
        top: #{$line-height * 3 + $header-height};
    }

    .field-help {
        top: $header-height;
    }
    .progressbar {
        &.fixed-position {
            top: $header-height;
        }
    }

    .gform_page_fields {
        overflow: hidden;
        &:before {
            top: -150px;
        }
        &:after {
            left: 0;
        }
    }
}

@media (min-width: $desktop-small) {
    .btn-help {
        display: none;
    }
    .gform_wrapper {
        .field-help {
            padding: 35px 0 0;
        }
    }
    .field-help {
        display: block;
        position: relative;
        max-width: grid-column-pixels($desktop, $gutter, 6, 12);
        top: 0;
        margin: $line-height * 2 0 $line-height * 2 auto;
        background: none;
        opacity: 1;
        visibility: visible;
        &:before {
            top: 0;
            right: 0;
            left: 50px;
        }
        &:after {
            top: -19px;
            left: 0;
        }
    }
}

@media (min-width: $desktop) {
    .form-progress {
        padding-bottom: 10px;
        .container {
            display: flex;
            align-items: center;
        }
    }

    .progressbar {
        width: 340px;
        padding: 0;
        margin: 0 0 0 auto;
    }

    .gform_page {
        display: flex;
    }

    .gform_page_fields {
        width: 65%;
        padding: 30px 0 0 10%;
        &:before {
            transform: rotate(-30deg) scale(1);
        }
        &:after {
            left: -100px;
            transform: scale(1);
        }
    }

    .sidebar {
        width: 35%;
        padding-bottom: 220px;
        z-index: 10;
        background-image: url(../../img/lightbulb.svg);
        background-repeat: no-repeat;
        background-position: 0 100%;
        background-size: 174px 192px;
        &:before {
            content: "";
            width: 50vw;
            position: absolute;
            top: 0;
            bottom: 0;
            left: -50vw;
            background: $grey-light;
        }
        h2 {
            font-size: 3.6rem;
        }
        h3 {
            line-height: 1.5;
            margin: 0 0 20px;
        }

        .page-bar {
            .inactive-page {
                display: block;
                margin: 65px 0 3px;
                font-family: "upgrade-lights";
                font-size: 2.2rem;
                color: #bdbdbd;
                + .inactive-page {
                    &:before {
                        height: 20px;
                    }
                }
            }
            > * {
                &:first-child {
                    &:after {
                        content: "";
                        display: block;
                        width: 1px;
                        height: 40px;
                        margin: 0 0 0 15px;
                        background: #bdbdbd;
                    }
                }
                h2 {
                    &:after {
                        margin-top: -35px;
                    }
                }
                + h2 {
                    line-height: 2;
                }
                + .inactive-page {
                    margin-top: 0;
                    &:before {
                        content: "";
                        display: block;
                        width: 1px;
                        height: 40px;
                        margin: 0 0 0 15px;
                        background: #bdbdbd;
                    }
                }
            }
        }
    }
}
