/* Grid */

.container,
.container-small,
.gform_wrapper {
    padding: 0 $gutter * 2;
    margin: 0 auto;
}

.container,
.gform_wrapper {
    max-width: #{$desktop + $gutter * 4};
}

.container-small {
    max-width: #{$desktop-small + $gutter * 4};
}

@media (min-width: $desktop-small) {
    .container-desk {
        max-width: #{$desktop + $gutter * 4};
        padding: 5px $gutter * 2;
        margin: 0 auto;
        overflow: hidden;
    }
}

@media (min-width: $desktop) {
    .container-desk-big {
        max-width: #{$desktop + $gutter * 4};
        padding: 5px $gutter * 2;
        margin: 0 auto;
    }
}
