/* Grid */

.container {
    max-width: #{1200px + $gutter * 4};
    padding: 0 $gutter * 2;
    margin: 0 auto;
}

.container-small {
    max-width: #{$desktop + $gutter * 4};
    padding: 0 $gutter * 2;
    margin: 0 auto;
}
