/* Header */
.burger {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1;
    span {
        position: absolute;
        width: 25px;
        height: 2px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        background-color: $primary-color;
        transition: comme-dans-du-beurre(
            (
                background-color: "0.23s 0.23s"
            )
        );
        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: $primary-color;
            border-radius: 5px;
        }
        &::before {
            transform: translate(0, -9px);
            transform-origin: 50% 50%;
            transition: comme-dans-du-beurre(
                (
                    transform: "0.23s"
                )
            );
        }
        &::after {
            transform: translate(0, 9px);
            transform-origin: 50% 50%;
            transition: comme-dans-du-beurre(
                (
                    transform: "0.23s"
                )
            );
        }
    }
    &.activated {
        span {
            background-color: transparent;
            transition: comme-dans-du-beurre(
                (
                    background-color: "0.23s"
                )
            );
            &::before,
            &::after {
                transition: comme-dans-du-beurre(
                    (
                        transform: "0.23s 0.23s"
                    )
                );
            }
            &::before {
                transform: translate(0, 0) rotateZ(-45deg);
            }
            &::after {
                transform: translate(0, 0) rotateZ(45deg);
            }
        }
    }
}

.main-navigation {
    position: fixed;
    width: 100%;
    top: 0;
    left: 100%;
    bottom: 0;
    padding: 0 $gutter * 3;
    margin-top: 96px;
    background-color: $white;
    transition: comme-dans-du-beurre(
        (
            transform: "0.23s"
        )
    );
    &.activated {
        transform: translate3d(-100%, 0, 0);
    }
    ul {
        font-weight: 700;
    }
}

.main-header {
    display: flex;
    align-items: center;
    height: 96px;
    padding: 0 $gutter * 3;
    .mobile-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .logo {
        position: relative;
        z-index: 1;
    }
}
