/* Header */
$header-height: 96px;

.main-header {
    display: flex;
    align-items: center;
    height: $header-height;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 $gutter * 3;
    background-color: $white;
    z-index: 100;
    &.off{
        display: none;
    }
    .container {
        display: flex;
        width: 100%;
        padding: 0;
        justify-content: space-between;
        align-items: flex-start;
    }
    .logo-wrapper {
        width: 118px;
        text-align: center;
        z-index: 3;
    }
    .logo {
        display: block;
        + img {
            display: block;
            width: 64px;
            margin: 9px 0 0 32px;
        }
    }
}

.main-navigation {
    position: fixed;
    top: 0;
    left: 100%;
    right: -100%;
    bottom: 0;
    background: $white;
    transition: comme-dans-du-beurre(
        (
            transform: "#{$comme-dans-du-beurre-duration}"
        )
    );
    z-index: 2;
    &.activated {
        transform: translate3d(-100%, 0, 0);
    }
}

.main-navigation-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: $header-height $gutter * 3 $line-height;
    .menu {
        margin: auto 0 auto;
        font-weight: 500;
        text-align: center;
        > li {
            padding: 0;
            margin: 9vh 0 0;
            &:before {
                content: none;
            }
            &:first-child {
                margin-top: 0;
            }
        }
    }
    .btn {
        margin: auto 0 0;
    }
}

.burger {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 3;
    > span {
        width: 25px;
        height: 2px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        background: $primary-color;
        transition: comme-dans-du-beurre(
            (
                background-color:
                    "#{$comme-dans-du-beurre-duration} #{$comme-dans-du-beurre-duration}"
            )
        );
        &:before,
        &:after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: $primary-color;
            border-radius: 5px;
            transform-origin: 50% 50%;
            transition: comme-dans-du-beurre(
                (
                    transform: "#{$comme-dans-du-beurre-duration}"
                )
            );
        }
        &:before {
            transform: translate(0, -9px);
        }
        &:after {
            transform: translate(0, 9px);
        }
    }
    &.activated {
        span {
            background: transparent;
            transition: comme-dans-du-beurre(
                (
                    background-color: "#{$comme-dans-du-beurre-duration}"
                )
            );
            &:before,
            &:after {
                transition: comme-dans-du-beurre(
                    (
                        transform:
                            "#{$comme-dans-du-beurre-duration} #{$comme-dans-du-beurre-duration}"
                    )
                );
            }
            &:before {
                transform: translate(0, 0) rotateZ(-45deg);
            }
            &:after {
                transform: translate(0, 0) rotateZ(45deg);
            }
        }
    }
}

@media (min-width: $phone) {
    .main-navigation-container {
        align-items: center;
        .btn {
            min-width: #{$phone-small/3 * 2};
        }
    }
}

@media (min-width: $tablet) {
    .main-header {
        position: fixed;
        &.off{
            display: flex;
        }
        .logo-wrapper {
            display: flex;
            width: 250px;
            align-items: center;
            justify-content: space-between;
        }
    }
    .main-navigation-container {
        .menu {
            li {
                font-size: 2.2rem;
            }
        }
        .btn {
            min-width: $phone-small;
        }
    }
}

@media (min-width: $desktop-small) {
    .main-header {
        background-color: transparent;
        transition: comme-dans-du-beurre(
            (
                background-color: "#{$comme-dans-du-beurre-duration}"
            )
        );
        &.scrolled {
            background-color: rgba($white, 0.9);
        }
        .container {
            align-items: center;
        }
        .logo-wrapper {
            width: 335px;
        }
        .logo {
            > img {
                width: 200px;
            }
            + img {
                width: 95px;
                margin-left: 0;
            }
        }
    }
    .burger {
        display: none;
    }
    .main-navigation {
        position: relative;
        background: none;
        left: auto;
        right: auto;
        &.activated {
            transform: none;
        }
    }
    .main-navigation-container {
        position: relative;
        flex-direction: row;
        align-items: center;
        padding: 0;
        .menu {
            display: flex;
            align-items: center;
            margin: 0;
            li {
                margin: 0 2vw 0 0;
                font-size: inherit;
            }
        }
        .btn {
            padding: 15px 20px 14px;
            min-width: auto;
        }
    }
}

@media (min-width: $desktop) {
    .main-navigation-container {
        .menu {
            li {
                margin: 0 $gutter * 2 0 0;
            }
        }
    }
}
