.page-template-contact {
    .contact-container {
        header {
            background-size: cover;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            margin: 0 0 $line-height * 3;
            h1 {
                margin: 0;
                padding: 1.8em;
                color: $white;
            }
        }
        .container-small {
            padding: 0;
        }
        .contact-content {
            padding: 0 $gutter * 2;
            .subtitle,
            .description {
                max-width: $phone;
            }
            .subtitle {
                margin: 0 auto $line-height;
                color: $grey;
                text-align: center;
                font-size: 2.4rem;
                p {
                    margin: 0;
                }
            }
            .description {
                margin: 0 auto #{$line-height * 2};
                text-align: center;
            }
        }
    }
    .gform_wrapper {
        padding: 0;
        margin: $line-height * 4 0 $line-height * 3;
        .gfield_required {
            display: inline;
        }
        .validation_error {
            display: none;
        }
        .gform_body {
            padding: 0;
            .gform_fields {
                line-height: 1.35;
            }
            ul {
                margin: 0;
                li {
                    padding: 0;
                    margin-bottom: $line-height;
                    &::before {
                        content: none;
                    }
                }
            }
            .gfield {
                &.gfield_error {
                    .ginput_container {
                        input,
                        textarea,
                        .gfield_select {
                            border-color: $form-error-color;
                        }
                    }
                    .validation_message {
                        margin-top: 0.5rem;
                        color: $form-error-color;
                        font-size: 1.4rem;
                    }
                }
                .gfield_label {
                    display: block;
                    margin-left: $gutter;
                    margin-bottom: $line-height * 0.5;
                    font-weight: 500;
                    .gfield_required {
                        margin-left: $gutter * 0.5;
                        color: $primary-color;
                        font-size: 0.75em;
                        font-weight: 400;
                    }
                }
                .ginput_container {
                    width: 100%;
                    input,
                    textarea,
                    .gfield_select {
                        width: 100%;
                        border: 1px solid $light-grey;
                        border-radius: 4px;
                        padding: $gutter;
                    }
                    textarea {
                        height: $line-height * 7;
                    }
                    &.ginput_container_text,
                    &.ginput_container_select {
                        max-width: grid-column-pixels($desktop, $gutter, 3, 12);
                    }
                    &.ginput_container_email {
                        max-width: grid-column-pixels($desktop, $gutter, 4, 12);
                    }
                    &.ginput_container_phone {
                        max-width: grid-column-pixels($desktop, $gutter, 2, 12);
                    }
                    &.ginput_container_select {
                        position: relative;
                        &::after {
                            content: "";
                            position: absolute;
                            top: 50%;
                            right: $gutter;
                            border-left: 4px solid transparent;
                            border-right: 4px solid transparent;
                            border-top: 9px solid $black;
                            transform: translateY(-50%);
                        }
                    }
                    .gfield_select {
                        appearance: none;
                    }
                }
            }
        }
        .gform_footer {
            display: inline-flex;
            position: relative;
            .button {
                @extend .btn;
            }
        }
    }
    .gform_confirmation_wrapper {
        margin-bottom: $line-height * 5;
        .gform_confirmation_message {
            text-align: center;
            .confirmation-title {
                color: $form-confirmation-color;
                font-size: 2rem;
                margin-bottom: $line-height;
            }
            .confirmation-subtitle {
                font-size: 1.6rem;
            }
        }
    }
    .contact-sidebar {
        .lend,
        .advisor {
            padding: $line-height * 2 $gutter * 2;
            h2,
            p {
                text-align: center;
            }
            h2 {
                margin-top: 0;
            }
            p {
                max-width: #{grid-column-pixels($desktop, $gutter, 6, 12)};
                margin-left: auto;
                margin-right: auto;
            }
        }
        .lend {
            background-color: $grey-light;
            display: flex;
            flex-direction: column;
            align-items: center;
            h2,
            p,
            a {
                margin-top: 0;
            }
        }
        .advisor {
            h2,
            p {
                color: $black-grey;
            }
            .btn-call-wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                .btn-call,
                p {
                    color: $primary-color;
                }
                .btn-call {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    padding: 15px 50px;
                    border: 2px solid currentColor;
                    border-radius: 30px;
                    font-size: 2.9rem;
                    span {
                        line-height: 1;
                    }
                    .icon {
                        width: 1.8rem;
                        height: 2.5rem;
                        margin-right: 8px;
                    }
                }
            }
        }
    }
    .offer {
        padding: $line-height * 2 $gutter * 2;
        &:first-child {
            @include background-gradient(44deg, "grey");
        }
        &:last-child {
            @include background-gradient(46deg, "orange");
        }
        header {
            margin-bottom: $line-height;
            h2 {
                margin: 0;
            }
        }
        .offer-content {
            margin-bottom: $line-height;
        }
    }
    .benefits-wrapper {
        background-color: $grey-super-light;
        .benefits {
            padding: 10px 0 50px;
            margin: 0;
        }
    }
}

@media (min-width: $tablet) {
    .page-template-contact {
        .contact-container {
            header {
                margin-top: $header-height;
            }
        }
        .gform_wrapper {
            width: grid-column-pixels($desktop, $gutter, 6, 12);
            margin: $line-height * 4 auto $line-height * 3;
            .gform_body {
                ul {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                }
                .gfield {
                    flex: 1 0 auto;
                    &:nth-child(odd):not(:last-child) {
                        margin-right: $gutter;
                    }
                    .ginput_container {
                        &.ginput_container_text,
                        &.ginput_container_select {
                            min-width: grid-column-pixels(
                                $desktop,
                                $gutter,
                                3,
                                12
                            );
                        }
                        &.ginput_container_email {
                            min-width: grid-column-pixels(
                                $desktop,
                                $gutter,
                                4,
                                12
                            );
                        }
                        &.ginput_container_phone {
                            min-width: grid-column-pixels(
                                $desktop,
                                $gutter,
                                2,
                                12
                            );
                        }
                    }
                }
            }
        }
        .gform_confirmation_wrapper {
            .gform_confirmation_message {
                .confirmation-title {
                    font-size: 2.6rem;
                    margin-bottom: $line-height;
                }
                .confirmation-subtitle {
                    font-size: 1.8rem;
                }
            }
        }
        .offers {
            display: flex;
        }
        .offer {
            width: 50%;
        }
    }
}

@media (min-width: $desktop-small) {
    .page-template-contact {
        .contact-container {
            header {
                padding: 0 $col * 3;
                margin-bottom: $line-height * 4;
                h1 {
                    font-size: 6.4rem;
                }
            }
            .contact-content {
                .subtitle,
                .description {
                    max-width: #{grid-column-pixels($desktop, $gutter, 6, 12)};
                }
                .subtitle {
                    font-size: 3.6rem;
                }
                .description {
                    margin: 0 auto #{$line-height * 4};
                    padding: 0;
                }
            }
        }
        .benefits-wrapper {
            .benefits {
                padding: 0;
                margin: 70px 0 50px;
            }
        }
    }
}

@media (min-width: $desktop) {
    .page-template-contact {
        .contact-container {
            header {
                margin-bottom: $line-height * 3;
            }
        }
        .container-small {
            display: flex;
            flex-direction: row-reverse;
            .contact-content {
                width: #{grid-column-pixels($desktop, $gutter, 7, 12) + $gutter *
                    2};
                padding-right: #{grid-column-pixels($desktop, $gutter, 1, 12)};
                .subtitle,
                .description {
                    text-align: left;
                    padding-right: $gutter;
                }
                .gform_wrapper {
                    width: 100%;
                }
            }
            .contact-sidebar {
                width: #{grid-column-pixels($desktop, $gutter, 5, 12)};
                padding: 0 $gutter * 4;
                .lend,
                .advisor {
                    padding: $line-height * 2 $gutter * 3;
                    h2 {
                        font-size: 2.6rem;
                    }
                    h2,
                    p {
                        text-align: left;
                    }
                }
                .lend {
                    align-items: flex-start;
                }
            }
        }
        .offer {
            padding: $line-height * 2 0;
            &:first-child {
                padding-right: #{grid-column-pixels($desktop, $gutter, 1, 12) +
                    $gutter * 0.5};
                .offer-content-wrapper {
                    margin-left: auto;
                    margin-right: 0;
                }
            }
            &:last-child {
                padding-left: #{grid-column-pixels($desktop, $gutter, 1, 12) +
                    $gutter * 0.5};
            }
            .offer-content-wrapper {
                max-width: #{grid-column-pixels($desktop, $gutter, 4, 12)};
            }
        }
    }
}
