.page-template-contact {
    margin-top: $header-height;

    .contact-container {
        header {
            h1 {
                color: $black-grey;
            }
            p {
                color: $grey;
                text-align: center;
            }
        }
        .description {
            text-align: center;
        }
    }
}
