$landing-header-height: 170px;

.page-template-landing-page, .page-template-landing-page-tunnel{

  .landing-header {
    height: 20vh ;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .logo-wrapper{
      display: flex;
      img{
        max-height: 100px;
      }
    }
    .main-logo {
      border-left: 1px solid $grey;
      text-align: left;
      padding-left: 1em;
      margin-left: 2em;
      p{
        color: $grey;
        margin-top: 0;
        margin-bottom: 0.5em;
      }
    }
    .container{
      margin-bottom: initial;
    }
  }

  .container{
    width: 100%;
    margin-bottom: em(75px);
  }

  .form-progress{
    margin-top: 0 !important;
  }

  .landing-footer{

    .container{
      margin: 0 auto;
    }

  }

  .menu-footer{
    display: flex;
    justify-content: center;
    list-style-type: none;
    border-top: 1px solid $light-grey;
    padding-top: 1em;
    text-align: center;
    margin-bottom: 0;

    li{
      padding: 0 1em;
      &:before{
        display: none;
      }
    }

    li:not(:first-child){
      border-left: 1px solid $light-grey;
    }

    a{
      text-decoration: none;
      border-bottom: none;
      color: $light-grey;
    }
  }

  @media(min-width: $tablet){

    .landing-header{
      margin-left: em(100px);
      height: $landing-header-height ;
    }

    .container{
      max-width: 1320px;
      margin: 0 auto em(75px, 18px);
    }
  }

}

.page-template-landing-page{
   h2{
    color: $black-grey;
  }

  h2{
    font-weight: 600;
  }

  .banner{
    position: relative;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: 90% 50%;
    &:after{
      z-index: 1;
      content: '';
      background: $mobile-image-gradient;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    .button{
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      margin: 0 auto;
    }
  }

  .landing-intro{
    position: absolute;
    bottom: 0;
    z-index: 2;
    padding: em(30px) 5%;
    //width: 50%;
    color: $white;

    h1{
      margin-top: 0;
      margin-bottom: em(16px, 64px);
      text-align: left;
    }


  }

  .first-bloc{

    .entry-content{
      text-align: center;
    }

    .left-part, .right-part{
      display: none;
    }

  }

  .second-bloc{
    svg{
      display: block;
      margin: 0 auto;
      width: 70%
    }
  }

  .cta{

    .cta-bloc{
      position: relative;
    }

    .entry-content{
      z-index:10;
      padding: 2em 5%;
      margin: 0 auto;
      text-align: center;
      background-color: $white;
      box-shadow: 0px 4px 20px rgba(118, 118, 118, 0.25);
    }

    .puddle{
      z-index: -1;
      position: absolute;
      svg{
        height: auto;
        width: 100%;
      }
    }

    .left-puddle{
      width: 40%;
      top: -20%;
      left: -20%;
    }

    .right-puddle{
      width: 30%;
      bottom: -20%;
      right: -20%;
    }
  }

  .first-bloc, .second-bloc, .cta{
    padding:  0 em(35px);
  }

  .button{
    display: inline-block;
    padding: 14px 24px;
    border-radius: 4px;
    color: $white;
  }

  ul > li:before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 100px;
  }

  @media (min-width: $desktop-small) {
    .landing-intro {
      width: 50%;
    }

    .first-bloc, .second-bloc, .cta{
      padding:  0 em(85px);
    }

  }
  @media (min-width: $tablet) {

    .banner{
      position: relative;
      height: 485px;
      &:after{
        background: $image-gradient;
      }

      .button{
        position: initial;
        left: inherit;
        transform: initial;
        margin: 0 auto;
      }
    }

    .landing-intro{
      position: relative;
      bottom: initial;
      padding: em(90px) em(100px);
      width: 70%;

      h1{
        margin-bottom: em(16px, 64px);
      }

    }

    .first-bloc, .second-bloc{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .first-bloc{

      .entry-content{
        width: 65%;
      }

      .left-part, .right-part{
        width: 17.5%;
      }

      .left-part{
        display: block;
        position: relative;;
        svg{
          &:first-child{
            position: absolute;
            top: 2em;
            right: 1em;
          }
          &:nth-child(2){
            position: absolute;
            bottom: 1em;
            left: 0;
          }
        }
      }

      .right-part{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        svg{
          transform: translateY(-25%);

        }
      }
    }

    .second-bloc{
      div{
        width: 45%;
      }
    }

    .cta{
      .entry-content{
        padding: 3em 25%;
      }
    }

    .first-bloc, .second-bloc, .cta{
      padding:  0 em(60px);
    }

  }

}

