$landing-header-height: 170px;

.page-template-landing-page, .page-template-landing-page-tunnel{
  .landing-header {
    height: $landing-header-height ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .container{
      width: 1320px;
      margin: 0 auto;
    }
    .logo-wrapper{
      display: flex;
      margin-left: em(100px);
      img{
        max-height: 100px;
      }
    }
    .main-logo {
      border-left: 1px solid $grey;
      text-align: left;
      padding-left: 1em;
      margin-left: 2em;
      p{
        color: $grey;
        margin-top: 0;
        margin-bottom: 0.5em;
      }
    }
  }

  .form-progress{
    margin-top: 0 !important;
  }
}

.page-template-landing-page{
   h2{
    color: $black-grey;
  }

  h2{
    font-weight: 600;
  }

  .banner{
    position: relative;
    height: 485px;
    &:after{
      z-index: 1;
      content: '';
      background: $image-gradient;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  section{
    margin-bottom: 5em;
  }

  .landing-intro{
    position: relative;
    z-index: 2;
    padding: em(90px) em(100px);
    width: 50%;
    color: $white;

    h1{
      margin-top: 0;
      margin-bottom: em(16px, 64px);
      text-align: left;
    }


  }

  .first-bloc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .entry-content{
      text-align: center;
      width: 65%;
    }

    .left-part, .right-part{
      width: 17.5%;
    }

    .left-part{
      position: relative;;
      svg{
        &:first-child{
          position: absolute;
          top: 2em;
          right: 1em;
        }
        &:nth-child(2){
          position: absolute;
          bottom: 1em;
          left: 0;
        }
      }
    }

    .right-part{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      svg{
        transform: translateY(-25%);

      }
    }
  }

  .second-bloc{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    div{
      width: 45%;
    }
  }

  .cta{

    .cta-bloc{
      position: relative;
    }

    .entry-content{
      z-index:10;
      padding: 3em 25%;
      margin: 0 auto;
      text-align: center;
      background-color: $white;
      box-shadow: 0px 4px 20px rgba(118, 118, 118, 0.25);
    }

    .puddle{
      z-index: -1;
      position: absolute;
      svg{
        height: auto;
        width: 100%;
      }
    }

    .left-puddle{
      width: 40%;
      top: -20%;
      left: -20%;
    }

    .right-puddle{
      width: 30%;
      bottom: -20%;
      right: -20%;
    }
  }

  .first-bloc, .second-bloc, .cta{
    padding:  0 em(85px);
  }

  .button{
    display: inline-block;
    padding: 14px 24px;
    border-radius: 4px;
    color: $white;
  }

  ul > li:before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 100px;
  }


}
