.page-template-lend {
    h1 {
        margin: 0 0 0.65em;
        text-align: left;
    }
    .hero {
        position: relative;
        padding: $line-height * 7 0 0;
        z-index: 1;
    }
    .banner-img {
        position: absolute;
        height: 480px;
        top: 0;
        right: 0;
        left: 0;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .intro {
        position: relative;
        text-align: center;
        &.reveal-cddb {
            .text {
                transform: translate3d(-100%, 0, 0) scale(1);
                opacity: 1;
            }
        }
        .text {
            position: relative;
            max-width: 240px;
            padding: 35px 25px;
            margin: 0;
            left: 100%;
            text-align: left;
            background: #fff;
            transform: translate3d(0, 0, 0) scale(0.8);
            transform-origin: 100% 100%;
            opacity: 0;
            transition: plop(
                (
                    transform: "#{$plop-duration}",
                    opacity: "#{$plop-duration} 0.1s"
                )
            );
        }
        .container {
            padding: $line-height $gutter;
            background: #fff;
            .btn {
                font-size: 1.6rem;
            }
        }
    }
    .lend-benefits-wrapper {
        text-align: center;
    }
    .lend-benefits {
        margin: $line-height * 2 0 $line-height * 2;
        > li {
            padding: 0 0 20px;
            &:before {
                content: none;
            }
        }
        img {
            display: block;
            margin: 0 auto 5px;
        }
    }
    .lend-email {
        padding: 30px 0 80px;
        position: relative;
        overflow: hidden;
        @include background-gradient(117deg, "dark");
        &:before,
        &:after {
            content: "";
            position: absolute;
            width: 40%;
            padding-bottom: 40.703517588%;
            background: url(../../img/bgform.svg);
            background-size: cover;
            transform-origin: 50% 50%;
            opacity: 0.1;
        }
        &::before {
            top: -10%;
            right: -3%;
            transform: rotateZ(180deg);
        }
        &::after {
            left: -3%;
            bottom: -10%;
        }
        .txt {
            text-align: center;
            margin-bottom: $line-height * 2;
        }
        .email {
            display: flex;
            flex-direction: column;
            align-items: center;
            input {
                width: 100%;
                padding: 10px $gutter;
                margin-bottom: $line-height;
                border: 1px solid $light-grey;
                border-radius: 4px;
                background-color: $white;
            }
            .btn {
                padding: 10px $gutter;
            }
        }
    }
}

@media (min-width: $phone-small) {
    .page-template-lend {
        .banner-img {
            height: 600px;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
        }
        .intro {
            .container {
                .btn {
                    font-size: 1.8rem;
                }
            }
        }
        .lend-email {
            &::before {
                top: -15%;
            }
            &::after {
                bottom: -15%;
            }
            .email {
                input {
                    max-width: grid-column-pixels($desktop, $gutter, 3, 12);
                }
                .btn {
                    font-size: 1.8rem;
                }
            }
        }
    }
}

@media (min-width: $phone) {
    .page-template-lend {
        .lend-email {
            &:before,
            &:after {
                width: 30%;
                padding-bottom: 30.52763819%;
            }
            .txt {
                max-width: grid-column-pixels($desktop, $gutter, 5, 12);
                margin: 0 auto $line-height * 2;
            }
        }
    }
}

@media (min-width: $tablet) {
    .page-template-lend {
        .hero {
            background: $grey-light url(../../img/b.svg) 30px -30px no-repeat;
        }
        .banner-img {
            width: 500px;
            height: 350px;
            left: 35%;
            top: #{$line-height * 12 - $line-height * 2};
            opacity: 0;
            transition: smooth-operator(
                (
                    transform: "#{$smooth-operator-duration}",
                    opacity: "#{$smooth-operator-duration}"
                )
            );
            &.reveal-cddb {
                transform: translate3d(0, #{$line-height * 2}, 0);
                opacity: 1;
            }
        }
        .intro {
            width: 500px;
            padding: $line-height * 2 $gutter * 4 $line-height * 2 $gutter * 4;
            margin-top: #{$line-height * 4 - 100px};
            margin-left: 0;
            margin-bottom: #{$line-height * 6};
            text-align: left;
            background: #fff;
            transform: translate3d(0, 0, 0) scale(0.9);
            transform-origin: 0% 50%;
            opacity: 0;
            transition: smooth-operator(
                (
                    transform: "#{$smooth-operator-duration}",
                    opacity: "#{$smooth-operator-duration}"
                )
            );
            &.reveal-cddb {
                opacity: 1;
                transform: translate3d(100px, 0, 0) scale(1);
                transition: smooth-operator(
                    (
                        transform: "#{$smooth-operator-duration} 0.15s",
                        opacity: "#{$smooth-operator-duration} 0.15s"
                    )
                );
                .text {
                    transform: none;
                    opacity: 1;
                }
            }
            > .text {
                max-width: none;
                padding: 0;
                margin: 0;
                left: 0;
                transform: none;
                opacity: 1;
                p {
                    margin-bottom: 0;
                }
            }
            > .container {
                padding: 0;
                margin-top: $line-height;
            }
        }
        .lend-benefits-wrapper {
            margin-top: 40px;
        }
        .lend-benefits {
            display: inline-flex;
            text-align: left;
            > li {
                display: flex;
                max-width: 230px;
                padding: 0 $gutter;
            }
            img {
                min-width: 45px;
                height: 45px;
                margin: 0 $gutter 0 0;
            }
        }
        .lend-email {
            padding: $line-height * 6 0;
            &:before,
            &:after {
                width: 40%;
                padding-bottom: 40.703517588%;
            }
            &::before {
                right: 5%;
            }
            &::after {
                left: 5%;
            }
        }
    }
}

@media (min-width: $desktop-small) {
    .page-template-lend {
        .banner-img {
            width: 650px;
            height: 470px;
            top: #{$line-height * 6 - $line-height * 2};
        }
        .lend-benefits-wrapper {
            margin-top: $line-height * 8;
        }
        .lend-email {
            padding: $line-height * 8 0;
            &:before,
            &:after {
                width: 35%;
                padding-bottom: 35.615577889%;
            }
            .txt {
                position: relative;
                left: 50%;
                margin: 0 0 $line-height * 2;
                transform: translate3d(-60%, 0, 0);
                opacity: 0;
                will-change: transform, opacity;
                &.reveal-plop {
                    transform: translate3d(-50%, 0, 0);
                    opacity: 1;
                    transition: plop(
                        (
                            transform: "#{$plop-duration}",
                            opacity: "#{$plop-duration}"
                        )
                    );
                }
            }
            .email {
                flex-direction: row;
                justify-content: center;
                input {
                    margin-bottom: 0;
                    margin-right: $gutter;
                }
                .btn {
                    margin-top: 0;
                }
            }
        }
    }
}

@media (min-width: $desktop) {
    .page-template-lend {
        .intro {
            width: grid-column-pixels($desktop, $gutter, 6, 12);
            padding: $line-height * 2 $gutter * 4 $line-height * 2 $gutter * 4;
            margin-top: #{$line-height * 2 - $gutter * 2};
            margin-left: 0;
            margin-bottom: 0;
        }
        .banner-img {
            width: 765px;
            height: 550px;
            left: 40%;
        }
        .lend-benefits-wrapper {
            margin-top: 0;
            text-align: left;
        }
        .lend-benefits {
            width: 50%;
            margin-left: -$gutter * 0.5;
            margin-right: -$gutter * 0.5;
            > li {
                max-width: 190px;
                padding: 0 $gutter * 0.5;
                &:nth-child(2) {
                    max-width: 210px;
                }
            }
            img {
                margin-right: $gutter * 0.5;
            }
        }
        .lend-email {
            padding: $line-height * 8 0;
            &:before,
            &:after {
                width: 404px;
                padding-bottom: 397px;
            }
            &::before {
                top: -35%;
                right: 0;
                left: 50%;
                transform: translateX(0%) rotateZ(180deg);
            }
            &::after {
                left: 50%;
                bottom: -15%;
                transform: translateX(-125%);
            }
        }
    }
}
