/* Buttons */

.btn,
.link,
.btn-invert,
.has-btn > a {
    line-height: 1.35;
    font-weight: 700;
    .icon {
        width: 1.4rem;
        height: 1.1rem;
        margin: 0 0 0 $gutter;
    }
}

.btn,
.btn-invert,
.has-btn > a {
    display: inline-flex;
    padding: 20px 20px 19px;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    color: $white;
}
.btn,
.has-btn > a {
    border: 2px solid transparent;
    overflow: hidden;
    z-index: 0;
    &:before,
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    &:before {
        @include fluid-background-btn("emphasis");
        z-index: -2;
    }
    &:after {
        @include fluid-background-btn("hover");
        opacity: 0;
        transition: smooth-operator(
            (
                opacity: "#{$comme-dans-du-beurre-duration}"
            )
        );
        z-index: -1;
    }
    &:hover {
        &:after {
            opacity: 1;
        }
    }
}
.btn-invert {
    border: 2px solid;
}
.has-btn > a,
.gform_next_button {
    padding: 10px 20px 11px;
}

.link {
    > span {
        border-bottom: solid 1px;
    }
}
