.ui-widget{
    font-family: 'upgrade';
}

.ui-datepicker{
    padding: 0;
    font-size: 1.4rem;
}

.ui-widget.ui-widget-content{
    border: 0;
}

.ui-widget-header{
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid rgba(#7DAFD5, 0.2);
    background: none;
}
.ui-datepicker .ui-datepicker-header{
    padding: 10px 0;
}

.ui-datepicker-month{
    margin-right: 5px;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next, .ui-datepicker .ui-icon{
    width: 10px;
    height: 18px;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next{
    top: 12px;
    cursor: pointer;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-hover .ui-state-hover{
    top: 12px;
    border: 0;
    background: none;
    &.ui-datepicker-next{
        right: 2px;
    }
    &.ui-datepicker-prev{
        left: 2px;
    }
}
.ui-datepicker-next .ui-icon{
    background: url(../../img/date-arrow-right.svg) 0 0 no-repeat;
    background-size: 100%;
}
.ui-datepicker-prev .ui-icon{
    background: url(../../img/date-arrow-left.svg) 0 0 no-repeat;
    background-size: 100%;
}

.ui-datepicker td span, .ui-datepicker td a{
    text-align: center;
}

.ui-datepicker th{
    font-weight: 500;
    color: $black;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
    border: 0;
    background: none;
    color: $black;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover, .ui-state-default:hover, .ui-widget-content .ui-state-default:hover{
    background: #4088C5;
}
