/******* GÉNÉRAL *******/

::-moz-selection {
    background: $black;
    color: $white;
    text-shadow: none;
}
::selection {
    background: $black;
    color: $white;
    text-shadow: none;
}

html {
    font-size: 62.5%; /* sets the base font to 10px for easier math */
    &.no-scroll {
        position: fixed;
        left: 0;
        right: 0;
    }
}

body {
    font: 1.8em / 1.35 "upgrade", sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

h1,
h2,
h3,
h4 {
    font-family: "upgrade-lights";
}

h2,
h3,
h4 {
    color: $grey;
}

h1,
.h1 {
    font-size: 4.2rem;
    margin: 0.67em 0;
    text-align: center;
    > span {
        font-family: "upgrade";
        font-weight: 400;
    }
}

h2,
.h2 {
    font-size: 3.6rem;
    margin: 0.83em 0;
    letter-spacing: -1px;
}

h3,
.h3 {
    font-size: 2.2rem;
    margin: 1em 0;
}

h4 {
    font-size: 2rem;
    margin: 1.33em 0;
}

h5 {
    font-size: 1.8rem;
    margin: 1.67em 0;
}

h6 {
    font-size: 1.6rem;
    margin: 2.33em 0;
}

p {
    margin: 1.5em 0;
}

b,
strong,
.bold {
    font-weight: 400;
}

i,
em {
    font-style: italic;
}

blockquote {
    position: relative;
    margin: 70px 0;
    font-style: italic;
    color: $dark-grey;
    background: #fff;
    &:before {
        content: '"';
        position: absolute;
        top: -30px;
        left: -20px;
        font-size: 4rem;
        color: $primary-color;
    }
    &:after {
        content: "";
        height: 50px;
        position: absolute;
        bottom: 40px;
        left: -50px;
        right: -50px;
        border-radius: 50%;
        background: rgba(196, 196, 196, 0.3);
        filter: blur(44px);
    }
    p {
        padding: 0 $gutter * 2 20px;
        position: relative;
        z-index: 10;
        margin: 20px $gutter * -2;
        background: #fff;
        &:after {
            content: "";
            width: 20px;
            height: 20px;
            position: absolute;
            bottom: -6px;
            right: 30%;
            background: #fff;
            transform-origin: 50% 50%;
            transform: rotate(45deg);
        }
    }
}
cite {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    font-family: "upgrade-lights";
    text-align: right;
    color: $black-grey;
    .name {
        display: block;
        margin: 5px 0 0;
        font-family: "upgrade";
        font-style: normal;
        font-weight: 400;
    }
    .img {
        width: 46px;
        height: 46px;
        overflow: hidden;
        border-radius: 50%;
        margin: 0 0 0 24px;
    }
}

ol,
ul {
    padding: 0;
    margin: 1em 0;
    list-style: none;
}
ul {
    ul {
        padding: 0 0 0 25px;
        margin: 1em 0;
    }
}
ol {
    counter-reset: ol-counter;
    > li {
        counter-increment: ol-counter;
        &:before {
            content: counter(ol-counter) ".";
            top: 7px;
            font-size: 1.2rem;
            font-weight: 800;
            color: $primary-color;
        }
    }
    ol {
        padding: 0 0 0 25px;
        margin: 1em 0;
    }
}
ul {
    > li {
        &:before {
            content: "";
            width: 3px;
            height: 3px;
            background: $primary-color;
        }
    }
}
li {
    padding: 0 0 0 20px;
    position: relative;
    &:before {
        position: absolute;
        top: 10px;
        left: 0;
    }
}

dt,
dd {
    display: inline;
    margin: 0;
}
dt {
    &:after {
        content: ": ";
    }
}
dd {
    + dt {
        &:before {
            content: "\A";
            white-space: pre;
        }
    }
    + dd {
        &:before {
            content: ", ";
            margin: 0 0 0 -0.25em;
        }
    }
}

img {
    max-width: 100%;
    height: auto;
}

code,
pre {
    display: block;
    padding: 10px 15px;
    margin: 1em 0;
    background: grey;
}

hr {
    height: 1px;
    max-width: 250px;
    border: 0;
    margin: 3em auto 5em;
    background: $black;
}

main {
    position: relative;
}

/******* LIENS / BOUTONS *******/

a {
    color: inherit;
    text-decoration: none;
    transition: $transition;
    &:focus,
    &:hover {
    }
    &:focus {
        outline: 0;
    }
    &:active {
        filter: saturate(200%);
    }
}

/******* CLASSES GENERALES  *******/

.hidden {
    display: none !important;
}
.visually-hidden {
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    position: absolute;
    margin: -1px;
    overflow: hidden;
}

.clearfix {
    @include clearfix;
}

.pos-relative {
    position: relative;
}

.align-center {
    text-align: center;
}
.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}

.icon {
    width: 1.2em;
    height: 1.2em;
    fill: currentColor;
}

.img-fit {
    &.compat-object-fit {
        background-size: cover;
        background-position: 50% 50%;
        img {
            // hide image if object fit is not supported - opacity to 0 for the link area
            opacity: 0;
        }
    }
}

.no-transition {
    transition: none !important;
}

.primary {
    color: $primary-color;
}

.secondary {
    color: $secondary-color;
}
