// Variables //

// Colors
$white: #fff;
$black: #000;

$grey-super-light: #f2f2f2;
$grey-light: #e9e8e1;
$grey: #828282;
$light-grey: #bdbdbd;
$dark-grey: #7c7c7c;
$black-grey: #312f2f;

$primary-color: #ff6308;
$secondary-color: #f12525;
$dark-red: #903030;

$form-confirmation-color: #6fcf97;
$form-error-color: #f12525;

// Gradients
$image-gradient: linear-gradient(90deg, #DAC1B8 0%, rgba(191, 132, 110, 0.64) 35.63%, rgba(232, 231, 224, 0) 66.78%);

// Transition
$transition: 0.3s ease-in-out;

// Fonts
$font-regular: "upgrade", sans-serif;
$font-light: "upgrade-lights", $font-regular;

// Mediaqueries
$retina: "only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi)";

$desktop: 1260px;
$desktop-small: 960px;
$tablet: 780px;
$phone: 580px;
$phone-small: 400px;

// Grid
$col: 100/12 * 1%;

$gutter: 15px;
$line-height: 25px;
